* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
  background-color: antiquewhite;
}

h1 {
  margin: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#container {
  border: 1px solid gray;
  height: 402px;
  width: 602px;
  display: flex;
  flex-flow: row wrap;
  margin: 2rem;
}

.hour {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  padding: 11px;
  position: relative;
  font-size: 3.6rem;

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    color: #aaa;
    text-align: center;
  }
}

.precip {
  background: hsl(200, 50%, 80%);
  color: hsl(200, 50%, 40%);
}

.hot {
  background-color: gold;
  font-weight: bold;
}
